# Ignorar arquivos do editor
.idea/
.vscode/

# Ignorar pastas do sistema
__pycache__/
*.pyc

# Ignorar dependências do Python
venv/
*.log

# Ignorar arquivos do Docker
.dockerignore

# Ignorar diretórios de build
node_modules/
